{% extends "base.html" %}

{% block content %}
	<form method="post">
		{% if item.subject %}
			<input type="string" name="subject" value="{{item.subject}}" 
			class="subject_input">
			<br>
			<br>
		{% endif %}
		<textarea name="content" class="content_input" placeholder=
		"Write some content">{{item.content}}</textarea>
		<br>
		<br>
		<input type="submit" name="edit" class="btn btn-default" value="Submit">
		<input type="submit" name="edit" class="btn btn-default" value="Cancel">
	    <input type="submit" name="delete" class="btn btn-danger" value="Delete">
	</form>
	<p>{{error}}</p>
{% endblock %}