{% extends "base.html" %} {% block content %}

	<form method="post">
		<table>
			<tr>
				<td>User name:</td>

				<td><input class="subject_input" name="username" 
				type="string" value="{{username}}">
				</td>

				<td class="signup_error">{{error_name}}</td>
			</tr>

			<tr>
				<td>Password:</td>

				<td><input class="subject_input" name="password" type="password" value="">
				</td>

				<td class="signup_error">{{error_pw}}</td>
			</tr>


			<tr>
				<td>Confirm password:</td>

				<td><input class="subject_input" name="password_resub" type="password">
				</td>

				<td class="signup_error">{{error_pwc}}</td>
			</tr>


			<tr>
				<td>Email:</td>

				<td><input class="subject_input" name="email" type="string" value=
				"{{email}}">
				</td>

				<td class="signup_error">{{error_email}}</td>
			</tr>
		</table>
		<br>
		<input class="btn btn-default" name="button" type="submit" value="Submit">
		<input class="btn btn-default" name="button" type="submit" value="Cancel">
	</form>


	<p>Already have an account? <a href="/login">Click here to log in</a></p>
	{% endblock %}