

/*container and div elements*/

.container {
  padding: 5%;
  height: 100%;
  width: 100%;
}

.row {
  height: 100%;
  width: 100%;
}

.controls {
  min-height: 255px;
}

/*form and input elements*/
.search-input {
  width: 100%;
}

.marker-list {
  padding-left: 10px;
}

.marker:hover {
  color: #33C3F0;
}

/*specific site content by id*/
#map {
  height: calc(100% - 240px);
  width: 100%;
}
